.mise{
  margin-top: 20px;
  margin-left: 20%;
  margin-right: 20%;
  
  background-color:#001f3f;
  padding: 10%;
}
h1{
  color: white;
  text-align: center;
}
.bac{
  background-color: #FFDC00;
  margin-bottom: 0px;

} 

.m{color: white;}